<!--   Header Start   -->
<header class="container tweets-header">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 tweets-header-title">
      Geeksalon Twitterlike App
    </div>
    <div class="col-sm-2">
      <%= button_to "投稿する", { :controller => "tweets", :action => "new"}, :method => :get, :class => "btn btn-success btn-md" %>
    </div>
    <div class="col-sm-2">
      <%= button_to "ログアウト", { :controller => "devise/sessions", :action => "destroy"}, :method => :delete, :class => "btn btn-danger btn-md" %>
    </div>
  </div>
</header>
<!--   Header End   -->

<!--   Timeline Start   -->
<section class="container timeline-container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 timeline">
      <% @tweets.each do |t| %>
        <div class="tweet-container">
          <%= t.user.email %>
          <br>
          <%= t.body %>
          <br>
          <%= t.created_at %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</section>
<!--   Timeline End   -->
