<!--   Header Start   -->
<header class="container tweets-header">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 tweets-header-title">
      Geeksalon Twitterlike App
    </div>
    <div class="col-sm-2">
      <%= button_to "投稿する", { :controller => "tweets", :action => "new"}, :method => :get, :class => "btn btn-success btn-md" %>
    </div>
    <div class="col-sm-2">
      <%= button_to "ログアウト", { :controller => "devise/sessions", :action => "destroy"}, :method => :delete, :class => "btn btn-danger btn-md" %>
    </div>
  </div>
</header>
<!--   Header End   -->

<!--   Timeline Start   -->
<section class="container timeline-container">
  <div class="row">
    <div class="col-sm-3 mypage-container">
      <div class="profile">
        <%= image_tag(current_user.icon_url, :size => "80x80", :class => "profile-icon") %>
        <p class="profile-name">
          <b><%= current_user.name %></b>
          <br>
          <%= current_user.email %>
        </p>
      </div>
      <%= button_to "マイページへ", { :controller => "tweets", :action => "mypage"}, :method => :get, :class => "btn btn-warning btn-md btn-block" %>
    </div>
    <div class="col-sm-6 timeline">
      <% @tweets.each do |t| %>
        <div class="tweet-container">
          <%= image_tag(t.user.icon_url, :size => "40x40", :class => "icon") %>
          <p class="tweet-text-container">
            <b><%= t.user.name %></b>
            <br>
            <%= t.body %>
            <br>
            <%= t.created_at %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</section>
<!--   Timeline End   -->
